<!DOCTYPE html>


<html>
    <head>
        <title>About</title>
        <link rel="icon" href ="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>


    <body>
        <div> 
            {{>header}}
            <p>This site was creted by Jelena. It uses data from darksky and openweather.</p>
            <img class="portrait" src="/img/robot.png">
        </div>

        {{>footer}}

    </body>
</html>